/* ------------------------------------------------ Fonts --------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* ------------------------------------------------ General Styles --------------------------------- */

body {
    font-family: "Roboto", sans-serif;
    text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Lato", sans-serif;
    font-weight: 600;
    color: #191923;
    text-align: center;
    line-height: 0;
    margin: 20px auto;
}

p {
    color: #191923;
    line-height: 0;
}

main {
    min-height: 90vh;
}

.uppercase {
    text-transform: uppercase;
}

.general-sub {
    margin-top: 20px;
}

/* ------------------------------------------------ Colours --------------------------------- */
.bg-color-green {
    background-color: #B6F7BB;
}


/* ------------------------------------------------ Header --------------------------------- */

.nav-padding {
    padding: 0;
}

#logo-1,
#logo-2 {
    font-size: 1.5rem;
    font-weight: 700;
}

#logo-1 {
    font-family: "Lato", sans-serif;
    color: #64C1F7;
}

#logo-2 {
    color: #1C5E84;
}

.navbar-nav .nav-link {
    text-align: center;
    color: #191923;
    font-weight: 500;
}

.navbar-nav .nav-link:hover {
    color: #64C1F7;
}

/* ------------------------------------------------ Footer --------------------------------- */
.footer-block {
    margin-bottom: 20px;
}

.social-links {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 0;
}

.social-links li a {
    color: #191923;
    font-size: 1.5rem;
    padding-top: 5px;
}


/* ------------------------------------------------ Media Queries ---------------------------*/


/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {

    /* ------ Nav Flex */

    .nav-flex {
        display: flex;
        align-items: center;
    }
}